@charset "utf-8";

header {
	width: 100%;
	height: 90px;
	background-color: #fff;
}
header nav {
	position: relative;
	width: 1224px;
	height: 90px;
	margin: 0 auto;
	background: url(../img/secondterm/logo.png) no-repeat;
	background-position: left;
	padding-top: 30px;
	box-sizing: border-box;
	/*overflow: hidden;*/
}
/*选择城市*/
#locate {
	position: absolute;
	display:block;
	width: 65px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #e0e0e0;
	font-size: 1.4rem;
	color: #333333;
	box-sizing: border-box;
	left: 230px;
	padding-left: 10px;
	background: url(../img/secondterm/spirit2.png) no-repeat;
	background-position:36px -565px;
	/*background-size: 25%;*/
}
.selectlocate {
	position: absolute;
	z-index: 2;
	background-color: #fff;
	width: 324px;
	height: 210px;
	top: 59px;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #e0e0e0;
	margin-left: 230px;
	display: none;
}
.selectlocate li {
	position: relative;
	float: left;
	width: 24%;
	height: 24%;
	text-align: center;
}
.selectlocate >li:nth-child(2) {
	margin: 0 14%;
}
.selectlocate >li:nth-child(4),.selectlocate >li:nth-child(6) {
	margin: 8% 0;
}
.selectlocate >li:nth-child(5) {
	margin: 8% 14%;
}
.selectlocate img {
	margin-bottom: 5px;
}
.selectlocate .mask {
	position: absolute;
	width: 78px;
	height: 30px;
	border-radius: 12px;
	background-color: rgba(255,255,255,0.6);
	display: none;
}
.selectlocate li:hover .mask {
	display: block;
	cursor: pointer;
}
.selectlocate a {
	color: #333;
}
/*Tab切换*/
.tab {
	position: absolute;
	top: 0;
	left: 349px;
	width: 535px;
	height: 100%;
}
.tab > li {
	display: inline-block;
	height: 100%;
	line-height: 90px;
	margin-right: 38px;
}
.tab > li:nth-child(6) {
	margin-right: 0;
}
.tab a {
	font-size: 1.6rem;
	color: #333;
}
.tab a:hover {
	color: #29b572;
}
.tab span {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/secondterm/spirit2.png) no-repeat;
	background-position: 0 -167px;
}
.tab > li:nth-child(6)>a:hover span {
	background-position: 0 -459px
}
/*登录/注册*/
.sign {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	line-height: 90px;
}
.sign a {
	display: inline-block;
	width: 56px;
	text-align: center;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	color: #333;
}
.sign .signin {
	border-right: 1px solid #cccccc;
}
.sign a:hover {
	color: #29b572;
	cursor: pointer;
}

/*页脚*/
footer {
	background-color: #fff;
}
/*友情链接*/
.friendlink {
	width: 1224px;
	height: 60px;
	margin: 0 auto;
	border-bottom: 1px solid #e8e8e8;
	line-height: 60px;
}
.friendlink > li {
	float: left;
	margin-left: 40px;
}
.friendlink > li:nth-child(1) {
	margin-left: 0;
	font-size: 2.2rem;
	color: #333333;
}
.friendlink a {
	font-size: 1.4rem;
	color: #676767;
}
.friendlink > li:nth-child(6) {
	float: right;
}
.friendlink > li:nth-child(6) span {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../img/secondterm/doublearrow.png) no-repeat;
	background-position: 50%
}
/*介绍信息*/
.link {
	width: 1224px;
	margin: 0 auto;
	height: 250px;
	padding: 30px 0;
	box-sizing: border-box;
}
.link ul {
	height: 140px;
	float: left;
	margin-right: 110px;
}
.link li {
	line-height: 28px;
}
.link li:nth-of-type(1) {
	font-size: 1.4rem;
	color: #333;
	margin-bottom: 30px;
}
.link a:nth-of-type(1),.link a:nth-of-type(2),.link a:nth-of-type(3),.link a:nth-of-type(4) {
	font-size: 1.3rem;
	color: #676767;
}
.link a:hover {
	color: #333333;
}
.feedback img {
	width: 80px;
	height: 80px;
}
.link .app {
	float: right;
	margin-right: 0;
	text-align: center;
}
.app > li:nth-child(1) {
	margin-bottom: 10px;
}
/*版权信息*/
.copyright {
	width: 100%;
	height: 50px;
	border-top: 1px solid #e8e8e8;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	font-size: 1.3rem;
	color: #808080;
}




