body {
	width: 100%;
	height: 100%;
	background-color:#f5f5f5;
	font-family: "MicrosoftYaHei Bold";
}
.enrol {
	width: 1224px;
	height: 1068px;
	margin:30px auto;
}
.enrol .enrol_left {
	width: 916px;
	height: 100%;
	background-color: #fff;
	float: left;
}
.enrol .enrol_right {
	width: 296px;
	height: 210px;
	background-color: #fff;
	float: right;
}
.enrol_left .left_conter {
	width: 856px;
	height: 984px;
	margin:0 auto;
}
.conter_header {
	width: 100%;
	height: 82px;
	line-height: 82px;
	color: #333;
	font-size: 1.8rem;
}
.conter_bank {
	width: 100%;
	height: 634px;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	overflow: hidden;
}
.conter_confirm {
	width: 100%;
	height: 268px;
	/*background-color: orange;*/
}
.left_footer {
	width: 100%;
	height: 84px;
	background-color: red;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
}
.conter_header>.p1 {
	position: relative;
	text-indent: 2.2rem;
}
.conter_header>.p1:before {
	content: '';
	position: absolute;
	top: 30px;
	left: 0;
	width: 24px;
	height: 24px;
	background: url(../../img/secondterm/enrol.png) no-repeat;
}
.conter_header>.p1 .yingfu {
	font-size: 1.6rem;
	color: #666;
}
.conter_header>.p1 .money {
	font-size: 1.8rem;
	color: #ea9b65;
	font-family: "STFangsong";
}
.conter_bank .bank1 {
	width: 816px;
	height: 528px;
	border-bottom: 1px dashed #e8e8e8;
	margin: 0 auto ;
	/*background-color: yellow;*/
}
.bank1 .bank11 h2,.bank22 h2,.bank33 h2{
	position: relative;
	font-size: 1.6rem;
	color: #666;
	text-indent: 1.8rem;
}
.bank11 h2:before,.bank22 h2:before,.bank33 h2:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: url(../../img/secondterm/enrol.png) no-repeat;
	background-position: -108px -2px;
}
.bank1 div ul {
	width: 110%;
	margin-top: 18px;
	box-sizing: border-box;
}
.bank1 div ul li {
	width: 150px;
	height: 54px;
	border: 1px solid #e8e8e8;
	display: inline-block;
	margin-right: 10px;
	/*margin-bottom: 16px;*/
}
.bank1 div ul li img {
	width: 123px;
	height: 26px;
	margin:13px;
}
.bank1 div {
	margin-top: 30px;
}
.bank1 .bank33>ul li a .img1 {
	width: 98px;
	height: 37px;
	margin:10px 20px;
}
.bank1 .bank33>ul li a .img2 {
	width: 126px;
	height: 33px;
	margin:12px 10px;
}
.conter_bank .bank2 {
	width: 816px;
	height: 76px;
	margin:0 auto;
}
.conter_bank .bank2>p {
	line-height: 76px;
	font-size: 1.6rem;
	color: #666;
}
.conter_bank .bank2>p span {
	color: #ea9b65;
}
.conter_confirm {
	overflow: hidden;
}
.conter_confirm>p {
	position: relative;
	margin:42px 0 28px 0;
	font-size: 1.8rem;
	color: #333;
	text-indent: 2rem;
}
.conter_confirm>p:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 22px;
	background: url(../../img/secondterm/enrol.png) no-repeat;
	background-position: -72px 0;
}
table {
	border-collapse: collapse;
	border: none;
}
tr,td {
	/*border: 1px solid #e8e8e8;*/
	border: 1px solid #333;
}
td {
	width: 122px;
	height: 36px;
}







