@charset "utf-8";

body {
	background-color: #f5f5f5;
}
.section {
	width: 1224px;
	height: 1120px;
	margin: 0 auto;
}
/*分类/区域*/
.classify {
	margin-top: 30px;
	background-color: #fff;
	width: 100%;
	height: 100px;
	padding: 20px;
	box-sizing: border-box;
}
.top,.bottom {
	position: relative;
	width: 100%;
	height: 28px;
}
.top {
	margin-bottom: 10px;
}
.top li,.bottom li {
	display: inline-block;
	margin-left: 50px;
	font-size: 14px;
	color: #333333;
	cursor: pointer;
}
.classify span {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 20px;
	height: 20px;
}
#ico {
	background: url(../../img/secondterm/spirit2.png) no-repeat;
	background-position: 0 -798px;
}
#ico1 {
	background: url(../../img/secondterm/spirit2.png) no-repeat;
	background-position: 0 -824px;
}
.top li.cla1,.bottom li.bot1 {
	margin-left: 0;
	cursor: auto;
}
.top li.cla2,.bottom li.bot2 {
	margin-left: 25px;
	text-align: center;
	line-height: 28px;
	cursor:auto;
}
.top li.cla3,.bottom li.bot3 {
	margin-left: 30px;
	font-size: 14px;
}
.top .active,.bottom .active {
	color: #29b572;
}
/*视频列表*/
.videolist {
	position: relative;
	margin-top: 30px;
	background-color: #fff;
	padding: 0 0 40px;
	
}
.validate {
	font-size: 14px;
	color: #666;
	text-align: center;
	line-height: 45px;
}
.validate li {
	float: left;
	width: 110px;
	height: 45px;
	cursor: pointer;
}
.validate li:nth-child(1) {
	color: #29b572;
}
.validate li> span {
	display: inline-block;
	width: 18px;
	height: 18px;
}
.some1 {
	background: url(../../img/secondterm/spirit2.png) no-repeat;
	background-position: 0 -842px;
}
.validate .some2 {
	background: url(../../img/secondterm/price.png) no-repeat;
	background-position: 3px 9px;
}
.some3 {
	background: url(../../img/secondterm/spirit2.png) no-repeat;
	background-position: 0 -860px;
}
#colorblock {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 3px;
	background-color: #29b572;
}
#count {
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 14px;
	color: #999;
}
.video {
	width: 1174px;
	margin: 25px auto;
}
.video li {
	float: left;
	margin-left: 18px;
	margin-bottom: 40px;
	width: 220px;
}
.video li.vid1,.video li.vid6,.video li.vid11 {
	margin-left: 0;
}
.video img {
	height: 130px;
	margin-bottom: 15px;
}
.video div {
	position: relative;
}
.video div p.loc1 {
	font-size: 15px;
	color: #333333;
}
.video div p.loc2 {
	font-size: 12px;
	color: #808080;
	margin-bottom: 5px;
}
.video div span.loc3 {
	font-family: "arial";
	font-weight: bold;
	font-size: 14px;
	color: #ea9b65;
}
.video div span.loc4 {
	font-family: "arial";
	font-weight: bold;
	font-size: 22px;
	color: #ea9b65;
}
.video div del.loc5,.video div span.loc6 {
	font-size: 12px;
	color: #999;
}
#sellcount {
	position: absolute;
	right: 0;
	line-height: 36px;
}
/*页码*/
.pages {
	width: 560px;
	height: 30px;
	margin: 0 auto;
}
.pages a,.pages ul {
	float: left;
}
.pages a,.pages li {
	height: 30px;
	font-size: 13px;
	color: #666666;
	text-align: center;
	line-height: 30px;
	padding: 0 8px;
	border: 1px solid #cccccc;
}
.pages ul {
	margin: 0 5px;
	width: 371px;
	height: 30px;
}
.pages li {
	display: inline-block;
	cursor: pointer;
}
.pages li.li10 {
	border: 0;
}
.pages .selected {
	background-color: #29b572;
	color: #fff;
}













































