.bg{
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
	font-family: "微软雅黑";
}
.subject{
	width: 1224px;
	height: 365px;
	background-color: white;
	margin: 0 auto;
	margin-top: 30px;
	box-sizing: border-box;
	padding: 15px;
}
.unity3D_img{
	width: 430px;
	height: 245px;
	float: left;
}
.unity3D_img img{
	height: 100%;
}
.unity3D_time{
	position: relative;
	float: left;
	width: 755px;
	height: 245px;
}
.subject>.unity3D_time>p{
	font-size: 24px;
	margin-left: 20px;
}
.unity3D_time1{
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
}
.unity3D_time_content2{
	width: 130px;
	float: left;
}
.unity3D_time_content1{
	float: left;
	width: 100px;
	border-right: 1px solid #e8e8e8;
}
.unity3D_time>div>div>p{
	color: #666;
	font-size: 14px;
}
.day{
	font-size: 20px;
}
#share{
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	font-size: 14px;
	color: #666;
}
#share span{
	display: inline-block;
	width: 100%;
	line-height: 23px;
	background: url(../../img/elite/share.png) no-repeat;
	text-indent: 40px;
	background-position: 14px;
}
.bdsharebuttonbox{
	display: none;
	width: 140px;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding-left: 5px;
	position: absolute;
	right: -22px;
	top: 33px;
}
.gray{
	position: relative;
	float: left;
	width: 100%;
	height: 80px;
	background-color: #b3b3b3; 
	margin-top: 15px;
	box-sizing: border-box;
	padding: 10px 20px 0;
}
.progress_bar{
	width: 100%;
	height: 10px;
	background-color: white;
	margin-top: 28px;
	border-radius: 10px;
	overflow: hidden;
}
.progress{
	width: 2%;
	height: 100%;
	background-color: #46d993;
}
.gray>span{
	position: absolute;
	top: 15px;
	color: white;
}
.gray_span1{
	left: 65px;
}
.gray_span2{
	left: 220px;
}
.gray_span3{
	left: 365px;
}
.gray_span4{
	left: 510px;
}
.gray_span5{
	left: 635px;
}
.gray_span6{
	right: 5px;
}
.triangle1{
	left: 95px;	
}
.triangle2{
	left: 250px;	
}
.triangle3{
	left: 395px;	
}
.triangle4{
	left: 540px;	
}
.triangle5{
	left: 665px;	
}
.triangle6{
	right: 23px;	
}
.triangle{
	position: absolute;
	top: 33px;	
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid white;
}
.subject_details{
	width: 1224px;
	margin: 30px auto;
}
.subject_details>ul{
	float: left;
	width: 910px;
	background-color: white;
	box-sizing: border-box;
	padding: 30px 15px 0;
}
.subject_details>ul>li{
	position: relative;
}
.title{
	font-size: 1.8rem;
	background-color: #f5f5f5;
	line-height: 40px;
}
.lesson_num{
	display: inline-block;
	background-color: #029850;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}
.title1{
	display: inline-block;
	text-indent: 5px;
}
.subject_details>ul>li>div{
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	opacity: 0.6;
	padding: 30px 0;
}
.subject_details>ul>li>div:hover{
	opacity: 1;
}
.subject_details>ul>li>div>div{
	float: left;
	width: 55px;
}
.subject_details>ul>li>div>div>img{
	width: 25px;
	float: right;
}
.lesson_title{
	display: inline-block;
	margin-left: 20px;
	width: 660px;
	font-size: 14px;
	color: black;
}
.subject_details>ul>li>div>span,.subject_details>ul>li>div>a,.waiting{
	position: absolute;
	right: 0;
	top: 40px;
	color: #999;
}
.subject_details>ul>li>div>a,.waiting{
	display: none;
	width: 110px;
	top:33px;
	font-size: 14px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.subject_details>ul>li>div>a{
	top: 32px;
	right: -1px;
	border: 1px solid #029850;
	background-color: white;
	color:#029850;
	border-radius: 50px;
}
.waiting{
	background-color: #ccc;
	color: white;
	border-radius: 50px;
}
.studing{
	float: right;
	width: 295px;
	background-color: white;
	overflow: auto;
}
.studing>p{
	width: 100%;
	background-color: #029850;
	color: white;
	box-sizing: border-box;
	padding: 5px;
	font-size: 16px;
}
.studing_details{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px 20px;
	text-align: center;
	color: #999;
	font-size: 14px;
}
.studing_details>p{
	line-height: 25px;
}
Categories{
	line-height: 35px;
	color: black;
}
.name{
	float: left;
}
.score{
	float: right;
}