.bg{
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
	font-family: "微软雅黑";
}
.subject{
	width: 1224px;
	height: 365px;
	background-color: white;
	margin: 0 auto;
	margin-top: 30px;
	box-sizing: border-box;
	padding: 15px;
}
.unity3D_img{
	width: 430px;
	height: 245px;
	float: left;
}
.unity3D_img img{
	height: 100%;
}
.subject>.unity3D_time{
	position: relative;
	float: left;
	width: 755px;
	height: 245px;
}
.subject>.unity3D_time>p{
	font-size: 2.4rem;
	margin-left: 20px;
}
.subject>.unity3D_time>a{
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
}
.subject>.unity3D_time>div:nth-child(2){
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
}
.subject>.unity3D_time>div>div{
	width: 130px;
	float: left;
}
.subject>.unity3D_time>div>div:nth-child(1){
	width: 100px;
	border-right: 1px solid #e8e8e8;
}
.subject>.unity3D_time>div>div>p{
	color: #666;
	font-size: 1.4rem;
}
.subject>.unity3D_time>div>div>p:nth-child(2){
	font-size: 2rem;
}
.bdsharebuttonbox{
	display: none;
	width: 140px;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding-left: 5px;
	position: absolute;
	right: -22px;
	top: 33px;
}
.gray{
	position: relative;
	float: left;
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.4);
	margin-top: 15px;
	box-sizing: border-box;
	padding: 10px 20px 0;
}
.progress_bar{
	width: 100%;
	height: 10px;
	background-color: white;
	margin-top: 10px;
	border-radius: 10px;
	overflow: hidden;
}
.progress{
	width: 2%;
	height: 100%;
	background-color: #46d993;
}
.gray>span{
	display: inline-block;
	color: white;
}
.gray>span:nth-of-type(1){
	margin-left: 50px;
}
.gray>span:nth-of-type(2){
	margin-left: 80px;
}
.gray>span:nth-of-type(3){
	margin-left: 70px;
}
.gray>span:nth-of-type(4){
	margin-left: 70px;
}
.gray>span:nth-of-type(5){
	margin-left: 50px;
}
.gray>span:nth-of-type(6){
	margin-left: 395px;
}
.triangle1{
	left: 95px;	
}
.triangle2{
	left: 250px;	
}
.triangle3{
	left: 395px;	
}
.triangle4{
	left: 540px;	
}
.triangle5{
	left: 665px;	
}
.triangle6{
	right: 50px;	
}
.triangle{
	position: absolute;
	top: 33px;	
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid white;
}
.subject_details{
	width: 1224px;
	margin: 30px auto;
}
.subject_details>ul{
	float: left;
	width: 910px;
	background-color: white;
	box-sizing: border-box;
	padding: 30px 15px 0;
}
.subject_details>ul>li{
	position: relative;
}
.subject_details>ul>li>p:nth-of-type(1){
	font-size: 1.8rem;
	background-color: #f5f5f5;
	line-height: 40px;
}
.subject_details>ul>li>p>span:nth-child(1){
	display: inline-block;
	background-color: #029850;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}
.subject_details>ul>li>p>span:nth-child(2){
	display: inline-block;
	text-indent: 5px;
}
.subject_details>ul>li>div{
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	opacity: 0.6;
	padding: 30px 0;
}
.subject_details>ul>li>div:hover{
	opacity: 1;
}
.subject_details>ul>li>div>div{
	float: left;
	width: 55px;
}
.subject_details>ul>li>div>div>img{
	width: 25px;
	float: right;
}
.subject_details>ul>li>div>p:nth-of-type(1){
	display: inline-block;
	margin-left: 20px;
	width: 660px;
	font-size: 1.4rem;
	color: black;
}
.subject_details>ul>li>div>span,.subject_details>ul>li>div>a,.subject_details>ul>li>div>p:nth-of-type(2){
	position: absolute;
	right: 0;
	top: 40px;
	color: #999;
}
.subject_details>ul>li>div>a,.subject_details>ul>li>div>p:nth-of-type(2){
	display: none;
	width: 110px;
	top:33px;
	font-size: 1.4rem;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.subject_details>ul>li>div>a{
	top: 32px;
	right: -1px;
	border: 1px solid #029850;
	background-color: white;
	color:#029850;
	border-radius: 50px;
}
.subject_details>ul>li>div>p:nth-of-type(2){
	background-color: #ccc;
	color: white;
	border-radius: 50px;
}
.studing{
	float: right;
	width: 295px;
	background-color: white;
	overflow: auto;
}
.studing>p{
	width: 100%;
	background-color: #029850;
	color: white;
	box-sizing: border-box;
	padding: 5px;
	font-size: 1.6rem;
}
.studing_details{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px 20px;
	text-align: center;
	color: #999;
	font-size: 14px;
}
.studing_details>p{
	line-height: 25px;
}
.studing_details>p:nth-child(1){
	line-height: 35px;
	color: black;
}
.studing_details>p>span:nth-child(1){
	float: left;
}
.studing_details>p>span:nth-child(3){
	float: right;
}