.content_bg{
	width: 100%;
	height: 710px;
	background-color: #F5F5F5;
	font-family: "微软雅黑";
}
.body_content{
	width: 1224px;
	height: 645px;
	margin: 0 auto;
	overflow: hidden;
}
.body_content>p{
	font-size: 2.2rem;
	margin-top:25px;
	line-height: 40px;
}
.body_content>div{
	width: 100%;
	height: 232px;
	background-color: white;
	box-sizing: border-box;
	padding: 50px 30px;
}
.body_content>div:nth-of-type(1) a{
	float: left;
	width: 155px;
	margin-right: 13px;
	margin-bottom: 30px;
}
.body_content>div:nth-of-type(1) a:nth-child(7),.body_content>div:nth-of-type(1) a:nth-child(14){
	margin-right: 0;
}
.body_content>div:nth-of-type(2){
	height: 275px;
}
.body_content>div:nth-of-type(2) a{
	display: inline-block;
	margin-right: 26px;
	font-size: 1.4rem;
	line-height: 29px;
	color: black;
}
.body_content>div:nth-of-type(2) a:nth-child(12),.body_content>div:nth-of-type(2) a:nth-child(22){
	margin-right:0 ;
}
.body_content>div:nth-of-type(2) a:nth-child(34),.body_content>div:nth-of-type(2) a:nth-child(44){
	margin-right:0 ;
}
.body_content>div:nth-of-type(2) a:nth-child(56),.body_content>div:nth-of-type(2) a:nth-child(66){
	margin-right:0 ;
}
