.content_bg{
	width: 100%;
	height: 710px;
	background-color: #F5F5F5;
	font-family: "微软雅黑";
}
.body_content{
	width: 1224px;
	height: 645px;
	margin: 0 auto;
	overflow: hidden;
}
.body_content>p{
	font-size: 22px;
	margin-top:25px;
	line-height: 40px;
}
.body_content>div{
	width: 100%;
	height: 232px;
	background-color: white;
	box-sizing: border-box;
	padding: 50px 30px;
}
.partners_a{
	float: left;
	width: 155px;
	margin-right: 13px;
	margin-bottom: 30px;
}
.no_margin{
	margin-right: 0;
}
.friendly_link{
	height: 275px;
}
.friendly_link>a{
	display: inline-block;
	margin-right: 25px;
	font-size: 14px;
	line-height: 22px;
	color: black;
}
#no_margin{
	margin-right: 0;
}
