.content_bg{
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
	font-family: "微软雅黑";
}
.content{
	width: 1224px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.content .menu{
	float: left;
	width: 170px;
	height: 473px;
	background-color: white;
	margin-right: 15px;
}
.content ul li a{
	width: 170px;
	font-size: 14px;
	color: black;
	box-sizing: border-box;
	padding-left: 20px;
	line-height: 43px;
}
.menu_active{
	width: 165px;
	border-left: 5px solid #29B572;
	background-color: #fafafa;
}
.body_content{
	float: left;
	width: 1039px;
	background-color: white;
	padding-bottom: 15px;
}
.what_is_elite{
	display: none;
}
.what_is_elite_block{
	display: block;
}
.body_content .what_is_elite{
	width: 100%;
	margin-bottom: 15px;
	box-sizing: border-box;
	padding: 25px 35px 0;
	font-size: 16px;
}
.body_content .what_is_elite div{
	width: 500px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.body_content .what_is_elite p{
	text-indent: 32px;
	line-height: 30px;
	margin-bottom: 15px;
}
#what_is_elite_title{
	font-size: 26px;
	line-height: 50px;
	text-indent: 0px;
	margin-bottom: 0px;
}
#what_is_elite_from{
	font-size: 13px;
	color: #999;
	line-height: 38px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 25px;
	text-indent: 0px;
}
#what_is_elite_from .timer{
	display: inline-block;
	margin-right: 15px;
}
.last_content{
	margin-bottom:15px ;
}
